<%- include("header") -%> 
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>

    <div class="box">
            <% for(var i =0;i<newListItems.length;i++){ %> 
                <div class="item">
                    <input type="checkbox">
                    <p><%= newListItems[i] %></p>
                </div>
            <% } %>
            <form class="item" action="/" method="post">
                <input placeholder="New task" type="text" name="newItem" autocomplete="off">
                <button id="add_task" type="submit" name="list" value=<%= listTitle %>>+</button>
            </form>
    </div>
    <div class="wrapper">
        <button id="Work_list_button" onclick="window.location = '<%= redirectLocation %>'">
            <%= buttonName %>
        </button>
        <button id="Work_list_button" onclick="window.location = 'http://localhost:3000/about'">
            About 🙂
        </button>
    </div>

<%- include("footer") -%> 
