<%- include("header") -%> 
<body> 
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>

    <div class="box">
        <% newListItems.forEach(function(item){ %>
            <% var deleter = "/delete/"+presentUser %>
            <form action="<%= deleter %> " method="post" >
                <div class="item">
                    <input name="checkbox" type="checkbox" value="<%=item._id%>" onchange="this.form.submit()">
                    <p><%= item.name %></p>
                </div>
                <input type="hidden" name="listName" value="<%= listTitle %>"></input>
            </form>
        <% }) %>
        <% var actionForm = "/list/"+presentUser %> 
            <form class="item" action="<%= actionForm %> " method="post" name="form1">
                <input placeholder="New task" type="text" name="newItem" autocomplete="off">
                <button id="add_task" type="submit" name="list" value=<%= listTitle %>>+</button>
            </form>
    </div>
    <div class="wrapper">
        <button id="Work_list_button" onclick="window.location = '<%= redirectLocation %>'">
            <%= buttonName %>
        </button>
        <% var about = "/about/"+presentUser %> 
        <button id="Work_list_button" onclick="window.location = '<%=about %>'">
            About 🙂
        </button>
    </div>

    <div class="wrapper">
        <button id="Work_list_button" onclick="window.location = '/logout'">
            Sign Out 👋
        </button>
    </div>
<%- include("footer") -%> 
