<%- include("header") -%> 
<body> 

    <div class="box" id="heading">
        <h1>Hey, <%= userName %></h1>
    </div>
    <div class="box" id="heading">
        <h2 class="h2"><%= listTitle %></h2>
    </div>

    <% if(listTitle === "Today"){ %> 
    <div class="box">
        <% newListItems.forEach(function(item){ %>
            <% var deleter = "/delete/"+presentUser %>
            <form action="<%= deleter %> " method="post" >
                <% if(item.checked===false){ %> 
                <div class="item">
                        <input  name="checkbox" type="checkbox" value="<%=item._id%>" onchange="this.form.submit()">
                        <div class="taskDetails">
                            <div><%= item.name %></div>
                            <div class="tags">Tags-: <%= item.tags %></div>
                            <div class="dateOfCompletion"> Due Date-: <%= item.dateOfCompletion %></div>
                        </div>
                    <input type="hidden" value="<%=item._id%>" name="ItemDelete" ></input> 
                </div>
                <% } %>
                <input type="hidden" name="listName" value="<%= listTitle %>"></input>
            </form>
        <% }) %>
        <% var actionForm = "/list/"+presentUser %> 
            <form class="item" action="<%= actionForm %> " method="post" name="form1">
                <div class="inputsOfTask">
                    <input placeholder="Add New task" type="text" name="newItem" autocomplete="off" required>
                    <input id="tags" placeholder="Task Tags" type="text" name="tags" autocomplete="off" required>
                    <div class="dateInput">
                        <div class="dateOfCompletion" id="deadline">Deadline-: </div><input class="completionDate" type="date" name="completionDate" required>
                    </div>
                </div>
                <button id="add_task" type="submit" name="list" value=<%= listTitle %>>+</button>
            </form>
    </div>
    <% }else if(listTitle==="Archieves"){ %> 
        <div class="box">
            <% newListItems.forEach(function(item){ %>
                <% var deleter = "/delete/"+presentUser %>
                <form action="<%= deleter %> " method="post" >
                    <% if(item.checked===true){ %> 
                    <div class="item">
                            <input checked name="checkbox" type="checkbox" value="<%=item._id%>" onchange="this.form.submit()">
                            <div class="taskDetails">
                                <div><%= item.name %></div>
                                <div class="tags">Tags-: <%= item.tags %></div>
                                <div class="dateOfCompletion"> Due Date-: <%= item.dateOfCompletion %></div>
                            </div>
                        <input type="hidden" value="<%=item._id%>" name="ItemDelete" ></input> 
                    </div>
                    <% } %>
                    <input type="hidden" name="listName" value="<%= listTitle %>"></input>
                </form>
            <% }) %>
        </div>
        <% }else if(listTitle==="Work"){ %>
            <div class="box">
                <% newListItems.forEach(function(item){ %>
                    <% var deleter = "/delete/"+presentUser %>
                    <form action="<%= deleter %> " method="post" >
                        <% if(item.checked===false){ %> 
                        <div class="item">
                                <input  name="checkbox" type="checkbox" value="<%=item._id%>" onchange="this.form.submit()">
                                <div class="taskDetails">
                                    <div><%= item.name %></div>
                                    <div class="tags">Tags-: <%= item.tags %></div>
                                    <div class="dateOfCompletion"> Due Date-: <%= item.dateOfCompletion %></div>
                                </div>
                            <input type="hidden" value="<%=item._id%>" name="ItemDelete" ></input> 
                        </div>
                        <% } %>
                        <input type="hidden" name="listName" value="<%= listTitle %>"></input>
                    </form>
                <% }) %>
                <% var actionForm = "/list/"+presentUser %> 
                    <form class="item" action="<%= actionForm %> " method="post" name="form1">
                        <div class="inputsOfTask">
                            <input placeholder="Add New task" type="text" name="newItem" autocomplete="off" required>
                            <input id="tags" placeholder="Task Tags" type="text" name="tags" autocomplete="off" required>
                            <div class="dateInput">
                                <div class="dateOfCompletion" id="deadline">Deadline-: </div><input class="completionDate" type="date" name="completionDate" required>
                            </div>
                        </div>
                        <button id="add_task" type="submit" name="list" value=<%= listTitle %>>+</button>
                    </form>
            </div>
            <% } %>  
    <div class="wrapper">
        <button id="Work_list_button" onclick="window.location = '<%= redirectLocation %>'">
            <%= buttonName %>
        </button>
        <button id="Work_list_button" onclick="window.location = '<%= secondRedirectLocation %>'">
            <%= secondButtonName %>
        </button>
    </div>

    <div class="wrapper">
        <button id="Work_list_button" onclick="window.location = '/logout'">
            Sign Out 👋
        </button>
        <% var about = "/about/"+presentUser %> 
        <button id="Work_list_button" onclick="window.location = '<%=about %>'">
            About 🙂
        </button>
    </div>
<%- include("footer") -%> 
